/*Overall*/
body {
    background-color: rgb(245, 227, 230);
    margin-left: 10%;
    margin-right: 10%;
    }

/*Headers*/
 h3 {
    background-color: aqua;}

.flex-container {
    display: flex-grow;}
  
  .flex-container div {
    background: rgb(144, 144, 223);
    border: 4px solid rgb(60, 14, 14);
    height: 100px;
    flex: 20;} 

.item {
    background-color: beige;
    height: 10px
}

Comment: when changing the flex values, the flex containers change shape (like vertically and horizontally)