/*Overall*/
body {
background-color: rgb(245, 227, 230);
margin-left: 10%;
margin-right: 10%;
}    

/*Headers*/
.h1 {background-color: aliceblue;
    text-align: center;
    font-size: 10px;
    padding: 6px;}
.h1 {margin-left: -12%;
    margin-right: -12%;}
ul {list-style-type:none;
    margin: 0;
    padding: 0px;}
a {display:inline;
    padding: 10px;}

h2{text-align: center;
font-size: 40px;
text-decoration-line: underline;}


/*Paragraphs*/
.p1 {font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;}
.p1 {margin: 5px;
    padding: 20px;
    background: aliceblue;
    font-size: 20px;}
.p2 {margin-top: 2%;
    margin-bottom: 2%;}
.p3 {font-size: 15px;
    padding: left -50px;}

   
/*Footer*/
.footer {background-color: aliceblue;
    display:block;
    margin-left: -12%;
    margin-right: -12%;}
.footer {text-align: center;
    padding: 8px;}

/*IMG*/
.img{border: 8px solid black;
    margin: 5px}


/*LIST*/
li {list-style-type:initial;}

table{width: 35%;}

   .flex-container {
    display: flex;
    justify-content:left;
    align-items:flex-start;
    height: 300px;}

    